<form #myForm="ngForm" (ngSubmit)="send()">
    <div>
        <input type="text" name="username" [(ngModel)]="register.userName"
        placeholder="Username*" autofocus required #userName="ngModel" minlength="4" maxlength="15" pattern="([0-9]|[a-z]|[A-Z])+">
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
            <span *ngIf="userName.errors.required">Missing Username </span>
            <span *ngIf="userName.errors.minlength">Must be 4 characters or more. </span>
            <span *ngIf="userName.errors.pattern">Must contain only letters and numbers </span>
        </div>
    </div>
    <div>
        <input type="password" name="password" [(ngModel)]="register.password"
        placeholder="Password*" required #password="ngModel" minlength="8" maxlength="20" pattern="([0-9]|[a-z]|[A-Z])+">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" >
            <span *ngIf="password.errors.required">Missing password </span>
            <span *ngIf="password.errors.minlength">Must be 8 characters or more. </span>
            <span *ngIf="password.errors.pattern">Must contain only letters and numbers </span>
        </div>
    </div>
    <div>
        <input type="text" name="fullname" [(ngModel)]="register.fullName"
        placeholder="Full name*" required #fullname="ngModel" pattern="([A-Z]|[a-z])+">
        <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)">
            <span *ngIf="fullname.errors.required">Missing Full Name </span>
            <span *ngIf="fullname.errors.pattern">Must contain only letters </span>
        </div>
    </div>
    <div>
        <input type="email" name="email" [(ngModel)]="register.email"
        placeholder="Email"  #email="ngModel">
        
    </div>
    <div>
        <input type="date" name="birthdate" [(ngModel)]="register.bDay"
        placeholder="BirthDate" #birthdate="ngModel">
    </div>
    <div>
        <button [disabled]="myForm.form.invalid">Register</button>
    </div>
</form>