div {
    width: 18%;
    height: 33%;
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 2px;
}
img {
    height: 100%;
    width: 100%;
    
}
.black {
    filter: brightness(0%);
    
}
.opacity {
    visibility: hidden;
}