<a routerLink="/home" routerLinkActive="activated">Home</a>
<br>
<br>
<a *ngIf="isLoggedIn() == false" routerLink="/register" routerLinkActive="activated">Register</a>
<br *ngIf="isLoggedIn() == false">
<br *ngIf="isLoggedIn() == false">
<a *ngIf="isLoggedIn() == false" routerLink="/login" routerLinkActive="activated">Login</a>
<br *ngIf="isLoggedIn() == false">
<br *ngIf="isLoggedIn() == false">
<a *ngIf="isLoggedIn()" routerLink="/game" routerLinkActive="activated">Game</a>
<br *ngIf="isLoggedIn()">
<br *ngIf="isLoggedIn()">
<a routerLink="/scores" routerLinkActive="activated">Scores</a>
<br>
<br>
<a routerLink="/feedbacks" routerLinkActive="activated">Feedbacks</a>
<br>
<br>
<a routerLink="/contact-us" routerLinkActive="activated">Contact</a>
<br>
<br>
<a routerLink="/leave-feedback" *ngIf="isLoggedIn()" routerLinkActive="activated">Leave Feedback</a>
<br *ngIf="isLoggedIn()">
<br *ngIf="isLoggedIn()">
<a routerLink="/about" routerLinkActive="activated">About</a>